/*  */
body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

ul {
  padding: 0 1em;
}

ul > li {
  margin: 2px 0;
}

.background {
  padding-left: 5vw;
  padding-right: 5vw;
  background: url("../../assets/image/bgimg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  margin: 0%;
}

span[lang="en"] {
  display: none;
}

.header {
  padding: 1em 0;
  /* background-position: 0; */
}

.header-bar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 12px 0;
}

/*  */
.lang-set-hint {
  margin: 0 8px;
  font-weight: bold;
  font-size: large;
}

.lang-set-radios {
  display: flex;
  align-items: center;
}

.lang-set-label {
  margin: 0 8px;
  font-size: large;
}

.header-title {
  font-weight: bolder;
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 4px;
}

.header-description {
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 4px;
}

.block-title {
  font-weight: bolder;
  padding: 16px 24px;
  border-radius: 12px 12px 0 0;
  font-size: 28px;
  background-color: black;
  color: white;
}

/* Introduction */
.main-intro {
  border-radius: 12px;
}

.flex-block1 {
  width: 100%;
}

.self-intro {
  border-radius: 12px;
  background-color: white;
  width: 100%;
}

.intro-block {
  padding: 8px 24px;
}

.freetime-works {
  margin-top: 12px;
  border-radius: 12px;
  background-color: white;
  width: 100%;
}

.freetime-work-block {
  padding: 8px 24px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  justify-content: center;
}

.artwork-image {
  border: 1px solid black;
  border-radius: 12px;
  width: 100%;
}

/* About Projects */
.done-projects {
  background-color: white;
  border-radius: 12px 12px 0 0;
  margin-top: 18px;
  position: relative;
  min-height: 40vh;
}

.project-block-container {
  background-color: #fff;
  justify-content: center;
}

.project-block {
  background-color: rgb(105, 74, 64);
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 1em;
  padding: 1em;
  border-radius: 24px;
  min-height: 25vh;
  color: white;
}

.project-preview {
  width: 100%;
  text-align: center;
}

.project-preview-image {
  max-width: 100%;
}

.project-intro {
  width: 100%;
}

.project-title {
  font-size: 3vh;
  font-weight: bolder;
}

.project-time {
  font-size: larger;
}

.project-structure-text {
  font-size: 2vh;
  font-weight: bold;
}

.project-description-text {
  font-size: 16px;
}

/* Footer */
.footer {
  background-color: black;
  padding: 1em;
  text-align: center;
  color: white;
}

.footer-text {
  font-size: medium;
}

/*  */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .main-intro {
    border-radius: 12px;
    display: flex;
  }

  .self-intro {
    border-radius: 12px;
    background-color: white;
    margin-right: 1%;
    width: 49%;
  }

  .freetime-works {
    margin-top: 0;
    border-radius: 12px;
    background-color: white;
    margin-left: 1%;
    width: 49%;
  }
}

/*  */
@media only screen and (min-width: 1200px) {
  .background {
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    background: url("../../assets/image/bgimg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Introduction */
  .main-intro {
    border-radius: 12px;
    display: flex;
  }

  .self-intro {
    border-radius: 12px;
    background-color: white;
    margin-right: 1%;
    width: 39%;
  }

  .intro-block {
    padding: 8px 24px;
  }

  .freetime-works {
    margin-top: 0;
    border-radius: 12px;
    background-color: white;
    margin-left: 1%;
    width: 59%;
  }

  .freetime-work-block {
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    justify-content: center;
  }

  .artwork-image {
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
  }

  .project-block-container {
    background-color: #fff;
    justify-content: center;
    display: flex;
  }

  .project-block {
    background-color: rgb(105, 74, 64);
    margin: 1em;
    padding: 1em;
    border-radius: 24px;
    min-height: 32vh;
    display: flex;
    width: 80%;
    color: white;
  }

  .project-preview {
    width: 40%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-preview-image {
    display: block;
    margin: auto;
    max-height: 100%;
  }
  .project-intro {
    width: 60%;
    padding: 12px;
  }

  .flex-block1 {
    width: 50%;
  }

  .flex-block2 {
    margin-bottom: 4px;
    display: flex;
  }

  .flex-block3 {
    display: flex;
  }

  .flex-intro1 {
    display: flex;
  }

  .footer-text {
    font-size: large;
  }
}
